.section {
  padding: var(--spacing-24) var(--spacing-6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-white-5);
}

.valueContainer {

  width: clamp(500px, 90%, var(--max-width));
  display: flex;
  justify-content: center;
  gap: var(--spacing-8);

}

.title {
 
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  color: inherit;
}

/* TEXT */

.textContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: var( --spacing-6);
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  
}

/* ITEMS */
.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.itemImage {
  height: 2rem;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.itemText {
  display: flex;
  flex-direction: column;
}

.descriptionText {
  font-size: clamp(var(--font-size-2xl) 2rem var(--font-size-4xl));
}

.percentageText{

  font-weight: var(--font-weight-bold);
  font-size: 2.25rem;

}
 
/* BUTTON */
.buttonContainer {
  display: flex;
  padding: 1rem 0;
}

.startButton {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--color-primary-700);
  transition: background-color 0.3s ease-in-out;

  &:hover{

    background-color: var( --color-primary-600);
  }
}

/* CHART */
.chartContainer {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;

}

.chartContainer img {

  width: 90%;
  aspect-ratio: 1/1;
}

@media (max-width: 900px) {

  .valueContainer {
    flex-direction: column;
    align-items: center;

  }

  .textContainer, .chartContainer{

    width: 100%;
  }

  .chartContainer {

    justify-content: center;
  }

  .buttonContainer{

    justify-content: center;
  }



}

/*.valueGraficaContainer{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 2rem;

  
}

.escalaBarras{

  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.247);
}

.itemsBarras{

  display: flex;
  align-items: center;
  gap: 1rem;

}

.pocentaje{

  min-width: 50px;

}

.numeroItem{

  width: 100%;
  height: 2px;
  background-color: white;
  
}

.graficoBarras{

  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  gap:3rem;

}

.graficoItemsBarra{

  width: 12%;
  background-color: var(--color-primary-600);
  border-radius: 2rem 2rem 0  0 ;

}

.barra1{

  height: 70%;
}

.etiquetaBarras{

  display: flex;
  width: 80%;
  justify-content: center;
  gap: 3rem;
}

.barra2{

  height: 80%;
}

.barra3{

  height: 90%;
}



.etiquetaParrafo{

  display: flex;
  align-items: center;
  position: relative;
}

.etiquetaParrafo::after{

  content: "";
  background-color: aqua;
  width: 1rem;
  height: 1rem;
  left: -25%;
  position: absolute;
  border-radius: 50%;
}

.etiqueta1{

}

.etiqueta12{

}


}*/